@font-face {
  font-family: sfpro;
  src: url(./fonts/SF-Pro.ttf);
}
@font-face {
  font-family: sfproit;
  src: url(./fonts/SF-Pro-Italic.ttf);
}
@font-face {
  font-family: graphik;
  src: url(./fonts/GraphikRegular.otf);
}
@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: git;
  src: url(./fonts/GEORGIA4.TTF);
}
@font-face {
  font-family: juni;
  src: url(./fonts/Junicode-BoldCondensed.ttf);
}
@font-face {
  font-family: viaoda;
  src: url(./fonts/ViaodaLibre-Regular.ttf);
}
body {
  background-color: white;
  color: black;
  min-height: 100%;
  font-size: 20px;
  font-family: sfpro, sans-serif;
  font-weight: 400;
  line-height: 28px;
  header {
    margin-top: 40px;
    h2 {
      font-size: 20px;
      font-stretch: extra-condensed;
      font-weight: 500;
      letter-spacing: 3px;
    }
    small {
      margin-left: 50px;
      a {
        font-size: 22px;
        text-decoration: none;
        color: black;
        transition: 0.5s;
        &:hover {
          color: #85a88c;
        }
      }
    }
  }
  #mobile {
    display: none;
  }
  .herotext {
    margin-top: 150px;
    font-size: 65px;
    letter-spacing: 1.5px;
    line-height: 90px;
    font-family: Georgia;
    span {
      font-family: git, Georgia;
      letter-spacing: 0px;
      font-style: italic;
      font-weight: 100;
    }
  }
  #call-to-action {
    margin-top: 150px;
    width: 100%;
    margin-bottom: 30px;
    strong {
      font-size: 14px;
      letter-spacing: 1.5px;
      color: darkcyan;
      font-weight: 200;
      margin-bottom: 30px;
    }
    .con {
      margin-top: 300px;
      &::before {
        content: '';
        background-color: black;
        width: 200px;
        display: block;
        height: 1px;
        margin-bottom: 30px;
      }
    }
    a {
      color: black;
      text-decoration: none;
      font-size: 18px;
    }
    h4 {
      font-weight: 200;
      font-size: 18px;
      margin-top: 27px;
    }
  }
  #me {
    width: 100%;
  }
  .intro-two {
    margin-top: 200px;
    p {
      line-height: 50px;
      font-size: 40px;
    }
    span {
      font-style: italic;
      a {
        color: black;
        font-weight: 100;
        text-decoration: navajowhite;
      }
    }
  }
  #capabilities {
    margin-top: 200px;
    h3 {
      font-size: 55px;
      margin-bottom: 50px;
      font-weight: 500;
      letter-spacing: 1.5px;
    }
    .services {
      border-top: 2px solid black;
      margin: 20px;
      h1 {
        font-size: 150px;
        margin-bottom: 30px;
        margin-top: 50px;
      }
      h4 {
        font-weight: 500;
      }
      p {
        font-size: 17px;
        margin-top: 30px;
        width: 100%;
      }
    }
  }
  .works {
    margin-top: 150px;
    h1 {
      font-size: 55px;
    }
    .thumbs {
      width: 100%;
      padding-top: 80px;
      min-height: 100%;
      border-top: 1px solid black;
      align-items: center;
      margin-bottom: 100px;
      img {
        width: 20rem;
      }
      .link {
        margin-top: 50px;
        margin-bottom: 20px;
      }
      h4 {
        margin-bottom: 30px;
        font-weight: 700;
        letter-spacing: 1.5px;
        font-size: 29px;
        font-family: Graphik;
      }
      a {
        text-decoration: none;
        color: #38433b;
        font-weight: 500;
        font-family: monospace;
        letter-spacing: 1.5px;
        &::after {
          display: block;
          background-color: #38433b;
          width: 20%;
          content: '';
          height: 2px;
          transition: 0.4s;
        }
        &:hover::after {
          width: 35%;
        }
      }
      .class {
        margin-top: 60px;
        button {
          border-radius: 20px;
          color: black;
          opacity: 1;
          text-transform: uppercase;
          text-align: center;
          font-size: 13px;
          background-color: transparent;
          border: 1px solid gray;
          padding: 5px 15px;
          color: gray;
          pointer-events: none;
        }
      }
    }
  }
  footer {
    min-height: 100%;
    background: linear-gradient(
      -75deg,
      #000000,
      #0a023d,
      rgb(1, 60, 75),
      #000000
    );
    width: 100%;
    background-size: 400% 400%;
    padding: 100px;
    color: white;
    animation: change 10s ease-in-out infinite;
    h3 {
      font-size: 55px;
      margin-bottom: 50px;
      margin-top: 30px;
    }
    .foot {
      margin-bottom: 100px;
      p {
        font-size: 24px;
        width: 70%;
        line-height: 40px;
        margin-bottom: 50px;
      }
    }
    .links {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr;
      align-items: center;
      font-size: 30px;
      a {
        text-decoration: none;
        color: white;
      }
    }
    @keyframes change {
      0% {
        background-position: 0 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0 50%;
      }
    }
  }
  .copyright {
    border-top: 2px solid white;
    padding-top: 40px;
  }
}
@media screen and (max-width: 769px) {
  body {
    background-color: #38433b;
    color: #f4f4f4;
    min-height: 100%;
    font-size: 20px;
    overflow-x: hidden;
    font-weight: 400;
    line-height: 28px;
    header {
      display: none;
    }
    #mobile {
      display: block;
      margin-top: 50px;
      width: 100%;
      text-align: center;
      align-self: center;
      width: 100%;
      #none {
        display: none;
      }
      small {
        margin-left: 80px;
        a {
          font-size: 17px;
          text-decoration: none;
          color: white;
          transition: 0.5s;
          &:hover {
            color: #38433b;
          }
        }
      }
      strong {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
    .herotext {
      margin-top: 100px;
      font-size: 35px;
      letter-spacing: 1.5px;
      line-height: 50px;
      width: 100%;
      font-family: Georgia;
      span {
        font-family: git;
        letter-spacing: 0px;
        font-style: italic;
        font-weight: 100;
      }
    }
    #call-to-action {
      margin-top: 50px;
      strong {
        font-size: 14px;
        letter-spacing: 1.5px;
        color: #85a88c;
        font-weight: 200;
        margin-bottom: 20px;
      }
      .con {
        margin-top: 10px;
        margin-bottom: 50px;
        &::before {
          content: '';
          background-color: #f4f4f4;
          width: 150px;
          display: block;
          height: 1px;
          margin-bottom: 10px;
        }
      }
      a {
        color: #f4f4f4;
        text-decoration: none;
        font-size: 15px;
      }
      h4 {
        font-weight: 200;
        font-size: 15px;
        margin-top: 31px;
      }
    }
    #me {
      width: 100%;
    }
    .intro-two {
      margin-top: 70px;
      p {
        line-height: 35px;
        font-size: 24px;
      }
      span {
        font-style: italic;
        a {
          color: #f4f4f4;
        }
      }
    }
    #capabilities {
      margin-top: 200px;
      h3 {
        font-size: 35px;
        margin-bottom: 50px;
        font-weight: 500;
        letter-spacing: 1.5px;
      }
      .services {
        border-top: 1px solid white;
        margin-top: 20px;
        width: 90%;
        h1 {
          font-size: 50px;
          margin-bottom: 30px;
          margin-top: 50px;
        }
        h4 {
          font-weight: 500;
        }
        p {
          font-size: 15px;
          margin-top: 30px;
          width: 100%;
        }
      }
    }
    .works {
      margin-top: 150px;
      h1 {
        font-size: 35px;
      }
      .thumbs {
        width: 100%;
        padding-top: 50px;
        margin-left: 0px;
        min-height: 100%;
        border-top: 1px solid white;
        align-items: left;
        margin-bottom: 30px;

        img {
          width: 10rem;
          margin-bottom: 50px;
          text-align: center;
        }
        .link {
          margin-top: 50px;
          margin-bottom: 20px;
        }
        h4 {
          margin-bottom: 30px;
          font-weight: 700;
          letter-spacing: 1.5px;
          font-size: 25px;
          font-family: poppins, sans-serif;
        }
        p {
          font-size: 17px;
        }
        a {
          text-decoration: none;
          color: white;
          font-weight: 500;
          font-family: monospace;
          letter-spacing: 1.5px;
          font-size: 19px;
          &::after {
            display: block;
            background-color: white;
            width: 48%;
            content: '';
            height: 2px;
            transition: 0.4s;
          }
          &:hover::after {
            width: 55%;
          }
        }
        .class {
          margin-top: 60px;
          margin-bottom: 30px;
        }
      }
    }
    footer {
      min-height: 100%;
      width: 100%;
      padding: 30px 20px;
      color: white;
      h3 {
        font-size: 35px;
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .foot {
        margin-bottom: 10px;
        p {
          font-size: 18px;
          width: 100%;
          line-height: 28px;
          margin-bottom: 30px;
        }
      }
      .links {
        margin-top: 30px;
        display: block;
        align-items: center;
        font-size: 20px;
        a {
          text-decoration: none;
          color: white;
          font-weight: 500;
          letter-spacing: 1px;
        }
        .link {
          margin-top: 30px;
        }
      }
    }
    .copyright {
      border-top: 2px solid white;
      padding-top: 40px;
      margin-top: 20px;
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 414px) {
  body {
    header {
      display: none;
    }
    #mobile {
      display: block;
      margin-top: 30px;
      margin-left: -12px;
      #none {
        display: none;
      }
      small {
        margin-left: 70px;
        a {
          font-size: 15px;
          &:hover {
            color: #38433b;
          }
        }
      }
      strong {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  body {
    header {
      display: none;
    }
    #mobile {
      display: block;
      margin-top: 50px;
      margin-left: 0px;
      #none {
        display: none;
      }
      small {
        margin-left: 70px;
        a {
          font-size: 15px;
          &:hover {
            color: #38433b;
          }
        }
      }
      strong {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
    .herotext {
      margin-top: 80px;
      p{
        line-height: 39px;
        font-size: 32px;
      }
    }
    #call-to-action {
      margin-top: 50px;
      strong {
        font-size: 13px;
        margin-bottom: 20px;
      }
      .con {
        margin-top: 10px;
        margin-bottom: 50px;
        &::before {
          width: 120px;
          height: 1px;
          margin-bottom: 10px;
        }
      }
      a {
        font-size: 14px;
      }
    }
    .intro-two {
      margin-top: 60px;
      p {
        line-height: 35px;
        font-size: 24px;
      }
      span {
        font-style: italic;
        a {
          color: #f4f4f4;
        }
      }
    }
    #capabilities {
      margin-top: 100px;
      h3 {
        font-size: 35px;
        margin-bottom: 50px;
        font-weight: 500;
        letter-spacing: 1.5px;
      }
    }
    .works {
      margin-top: 100px;
      h1 {
        font-size: 35px;
      }
      .thumbs {
        width: 100%;
        img {
          width: 10rem;
          margin-bottom: 50px;
          text-align: center;
        }
        .class {
          margin-top: 60px;
        }
      }
    }
    footer {
      min-height: 100%;
      width: 100%;
      padding: 30px 15px;
      color: white;
      margin-top: 50px;
      h3 {
        font-size: 35px;
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .foot {
        margin-bottom: 10px;
        p {
          font-size: 18px;
          width: 100%;
          line-height: 28px;
          margin-bottom: 30px;
        }
      }
      .links {
        margin-top: 30px;
        display: block;
        align-items: center;
        font-size: 20px;
        a {
          text-decoration: none;
          color: white;
          font-weight: 500;
          letter-spacing: 1px;
        }
        .link {
          margin-top: 30px;
        }
      }
    }
    .copyright {
      border-top: 2px solid white;
      padding-top: 40px;
      margin-top: 20px;
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 320px) {
  body {
    header {
      display: none;
    }
    #mobile {
      display: block;
      margin-top: 50px;
      #none {
        display: none;
      }
      small {
        margin-left: 70px;
        a {
          font-size: 13px;
          &:hover {
            color: #38433b;
          }
        }
      }
      strong {
        font-size: 16px;
      }
    }
    .herotext {
      margin-top: 80px;
      p {
        font-size: 29px;
        line-height: 36px;
      }
    }
    #call-to-action {
      margin-top: 50px;
      strong {
        font-size: 12px;
        margin-bottom: 20px;
      }
      a {
        font-size: 13px;
      }
    }
    .intro-two {
      margin-top: 60px;
      p {
        line-height: 30px;
        font-size: 22px;
      }
      span {
        font-style: italic;
        a {
          color: #f4f4f4;
        }
      }
    }
    footer {
      min-height: 100%;
      background-size: cover;
      width: 100%;
      background: rgb(139, 30, 10);
      padding: 30px 10px;
      color: white;
      animation: changer;
      h3 {
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .links {
        a {
          font-size: 18px;
        }
        .link {
          margin-top: 30px;
        }
      }
    }
  }
}
